/* Set Logo Wrapper to Opaque */
.web-navigation__header {
    opacity: 1;
}
/* Show Logo Element */
.web-navigation__logo-container {
    margin-top: 17px;
    margin-bottom: 15px;
    display: block;
}
/* Fix Search Box Padding (Overlaps Window Buttons) */
#search-box {
    padding-top: 11px;
}
/* Resolves Bottom Margin Cutoff */
.web-navigation__scrollable {
    height: calc(100vh - 56px)
}
/* Hide Music logo & Beta tag */
.web-navigation__logo-container { opacity: 0 !important; }
.web-navigation__beta-vector { opacity: 0 !important; }
