/* START CORE STYLES */
/* Hide Scrollbar for native feel */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Transparent scrollbar placeholder */
}
/* Hide GitHub Ribbon */
.github-fork-ribbon {
    display: none !important;
    opacity: 0;
}

html {
    background-color: rgba(255,255,255,0);
}
/* Transparent Body*/
body {
    background-color: rgba(255,255,255,0.3);
}
/* Move Logo Down */
h1.dcfd {
    padding-top: 12px;
}
/* Semi-Transparent Menu Separator */
aside._4ed7 {
    background-color: rgba(255,255,255,0.8);
}


