/* Replace logo with Themes logo */
.web-navigation__header {
    margin-top: 30px !important;
    background: url(https://get.ezure.io/logo-light.png) !important;
    background-size: 260px 54px !important;
    background-repeat: no-repeat !important;
}
/* Hide Music logo & Beta tag */
.web-navigation__logo-container { opacity: 0 !important; }
.web-navigation__beta-vector { opacity: 0 !important; }

:root {
    --bodyGutter: 25px;
    color-scheme: light dark;
    --accessibilityIcon: black;
    --accessibilityIcon-rgb: 0, 0, 0;
    --activeText: rgba(0, 0, 0, 0.95);
    --activityBGColor: #f0f0f3;
    --activityBGColor-rgb: 240, 240, 243;
    --altSectionColor: #f0f0f3;
    --altSectionColor-rgb: 240, 240, 243;
    --baseColor: #404040;
    --baseColor-rgb: 64, 64, 64;
    --borderRule: 1px solid rgba(0, 0, 0, 0.07);
    --buttonBorder: white;
    --buttonBorder-rgb: 255, 255, 255;
    --buttonCancelButton: white;
    --buttonCancelButton-rgb: 255, 255, 255;
    --buttonDisabledBGColor: rgba(0, 0, 0, 0.25);
    --buttonDisabledTextColor: #404040;
    --buttonDisabledTextColor-rgb: 64, 64, 64;
    --buttonNonDefaultBGColor: #f7f7f7;
    --buttonNonDefaultBGColor-rgb: 247, 247, 247;
    --buttonRolloverNonDefaultBGColor: rgba(247, 247, 247, 0.5);
    --cardBgColor: white;
    --cardBgColor-rgb: 255, 255, 255;
    --checkboxBGColor: white;
    --checkboxBGColor-rgb: 255, 255, 255;
    --chromeColor: #d9d9d9;
    --chromeColor-rgb: 217, 217, 217;
    --dialogScrimColor: rgba(255, 255, 255, 0.8);
    --dropdownBGColor: #f6f6f6;
    --dropdownBGColor-rgb: 246, 246, 246;
    --glyphColor: #8e8e93;
    --glyphColor-rgb: 142, 142, 147;
    --horizontalLockupBGColor: white;
    --horizontalLockupBGColor-rgb: 255, 255, 255;
    --inputBackground: rgba(217, 217, 217, 0.5);
    --inputButtonBackground: rgba(0, 0, 0, 0.2);
    --lcdBackground: #ededee;
    --lcdBackground-rgb: 237, 237, 238;
    --linkButtonColor: #f7f7f9;
    --linkButtonColor-rgb: 247, 247, 249;
    --loadingBackground: white;
    --loadingBackground-rgb: 255, 255, 255;
    --lockupYieldContent: white;
    --lockupYieldContent-rgb: 255, 255, 255;
    --nativeBGColor: white;
    --nativeBGColor-rgb: 255, 255, 255;
    --metadata: rgba(0, 0, 0, 0.2);
    --modalFooterBG: white;
    --modalFooterBG-rgb: 255, 255, 255;
    --modalFooterMaterialBG: rgba(255, 255, 255, 0.7);
    --opaqueAltSectionColor: #f0f0f3;
    --opaqueAltSectionColor-rgb: 240, 240, 243;
    --opaqueBackgroundColor: white;
    --opaqueBackgroundColor-rgb: 255, 255, 255;
    --personalizedMixGradient: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f7f7f7 100%);
    --placeHolderBGColor: #9a9aa2;
    --placeHolderBGColor-rgb: 154, 154, 162;
    --playButtonBackgroundColor: white;
    --playButtonBackgroundColor-rgb: 255, 255, 255;
    --primary: rgba(0, 0, 0, 0.95);
    --productHeaderGradient: linear-gradient(white, rgba(217, 217, 217, 0.4));
    --productMissingArtwork: url(product/MissingArtworkMusic-48f3c55581d88b6ddda5fe0d1bb9e18a.png);
    --profileUberBGColor: rgba(255, 255, 255, 0.8);
    --profileUberTextColor: rgba(0, 0, 0, 0.8);
    --quaternary: rgba(0, 0, 0, 0.2);
    --regularRuleColor: rgba(0, 0, 0, 0.07);
    --revealGradient: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    --secondary: rgba(0, 0, 0, 0.65);
    --selectionColorDk: #005cd7;
    --selectionColorDk-rgb: 0, 92, 215;
    --shelfHeader: black;
    --shelfHeader-rgb: 0, 0, 0;
    --songListSelectedHoverColor: white;
    --songListSelectedHoverColor-rgb: 255, 255, 255;
    --songListHoverColor: #fbfbfb;
    --songListHoverColor-rgb: 251, 251, 251;
    --strongBorderRule: 1px solid rgba(0, 0, 0, 0.14);
    --systemGray: #8e8e93;
    --systemGray-rgb: 142, 142, 147;
    --systemGrayDeepPressed: #56565a;
    --systemGrayDeepPressed-rgb: 86, 86, 90;
    --systemGrayDisabled: rgba(142, 142, 147, 0.35);
    --systemGrayPressed: #6f6f73;
    --systemGrayPressed-rgb: 111, 111, 115;
    --systemGrayRollover: #56565a;
    --systemGrayRollover-rgb: 86, 86, 90;
    --systemGreen: #28cd41;
    --systemGreen-rgb: 40, 205, 65;
    --systemRed: #ff3b30;
    --systemRed-rgb: 255, 59, 48;
    --tertiary: rgba(0, 0, 0, 0.4);
    --textColor-rgb: 0, 0, 0;
    --topChartsCounter: black;
    --topChartsCounter-rgb: 0, 0, 0;
    --upsellBGColor: #f0f0f3;
    --upsellBGColor-rgb: 240, 240, 243;
    --upsellCardBGColor: #f7f7f7;
    --upsellCardBGColor-rgb: 247, 247, 247;
    --primaryColor: #007aff;
    --primaryColor-rgb: 0, 122, 255;
    --primaryColorRollover: #0045b7;
    --primaryColorRollover-rgb: 0, 69, 183;
    --primaryColorPressed: #005cd7;
    --primaryColorPressed-rgb: 0, 92, 215;
    --primaryColorDeepPressed: #0045b7;
    --primaryColorDeepPressed-rgb: 0, 69, 183;
    --primaryColorDisabled: rgba(0, 122, 255, 0.35);
    --labelPrimary: rgba(0, 0, 0, 0.95);
    --labelSecondary: rgba(60, 60, 67, 0.6);
    --labelTertiary: rgba(60, 60, 67, 0.3);
    --labelQuaternary: rgba(60, 60, 67, 0.18);
    --labelDivider: rgba(0, 0, 0, 0.15);
    --vibrantPrimary: rgba(0, 0, 0, 0.95);
    --vibrantSecondary: rgba(60, 60, 67, 0.5);
    --vibrantTertiary: rgba(60, 60, 67, 0.3);
    --vibrantQuaternary: rgba(60, 60, 67, 0.18);
    --vibrantDivider: rgba(60, 60, 67, 0.29);
    --pageBG: white;
    --pageBG-rgb: 255, 255, 255;
    --shelfBG: #f2f2f7;
    --shelfBG-rgb: 242, 242, 247;
    --genericJoeColor: #ebebeb;
    --genericJoeColor-rgb: 235, 235, 235;
    --modalBGColor: white;
    --modalBGColor-rgb: 255, 255, 255;
    --modalBGHeaderColor: rgba(255, 255, 255, 0.97);
    --modalScrimColor: rgba(0, 0, 0, 0.45);
    --selectionColor: #007aff;
    --selectionColor-rgb: 0, 122, 255;
    --selectionColorRollover: #0045b7;
    --selectionColorRollover-rgb: 0, 69, 183;
    --selectionColorPressed: #005cd7;
    --selectionColorPressed-rgb: 0, 92, 215;
    --selectionColorDeepPressed: #0045b7;
    --selectionColorDeepPressed-rgb: 0, 69, 183;
    --selectionColorDisabled: rgba(0, 122, 255, 0.35);
    --textColor: rgba(0, 0, 0, 0.95);
    --topResultsBGColor: rgba(60, 60, 67, 0.18);
    --lockupHoverBGColor: rgba(51, 51, 51, 0.3);
    --opaquePageBGColor: white;
    --opaquePageBGColor-rgb: 255, 255, 255;
    --replayCardBG: #f7f3eb;
    --replayCardBG-rgb: 247, 243, 235;
    --replayComponentBG: #fbf9f5;
    --replayComponentBG-rgb: 251, 249, 245;
    --explicitBadgeColor: #6c6c70;
    --explicitBadgeColor-rgb: 108, 108, 112;
    --systemGrayIncreaseContrast: #6c6c70;
    --systemGrayIncreaseContrast-rgb: 108, 108, 112;
    --barButtonDeselectedGradientTop: #fefefe;
    --barButtonDeselectedGradientTop-rgb: 254, 254, 254;
    --barButtonDeselectedGradientBottom: #fafafa;
    --barButtonDeselectedGradientBottom-rgb: 250, 250, 250;
    --barButtonSelectedBGFill: #7f7f7f;
    --barButtonSelectedBGFill-rgb: 127, 127, 127;
    --barButtonSelectedTextColor: white;
    --barButtonSelectedTextColor-rgb: 255, 255, 255;
    --contextMenuBackgroundColor: rgba(255, 255, 255, 0.97);
    --contextMenuBackgroundFallback: rgba(255, 255, 255, 0.97);
    --contextMenuBorderColor: rgba(0, 0, 0, 0.15);
    --contextMenuTextColor: rgba(0, 0, 0, 0.95);
    --contextMenuHoverBackgroundColor: rgba(60, 60, 67, 0.03);
    --contextMenuHoverBackgroundFallback: rgba(60, 60, 67, 0.03);
    --footerBG: #fbfbfb;
    --footerBG-rgb: 251, 251, 251;
    --searchBorder: rgba(0, 0, 0, 0.15);
    --searchIconDropShadow: rgba(0, 0, 0, 0.15);
    --searchHintsBG: rgba(232, 232, 232, 0.9);
    --searchHintsBGHover: rgba(201, 204, 203, 0.9);
    --sidebar: rgba(60, 60, 67, 0.03);
    --sidebarBorderRule: rgba(0, 0, 0, 0.1);
    --sidebarSelectedState: rgba(60, 60, 67, 0.1);
    --sidebarNativeUpsellBackgroundFallback: rgba(255, 255, 255, 0.97);
    --webNavigationMobileBg: white;
    --webNavigationMobileBg-rgb: 255, 255, 255;
    --playerScrubberPlayhead: #656565;
    --playerScrubberPlayhead-rgb: 101, 101, 101;
    --playerScrubberFill: #656565;
    --playerScrubberFill-rgb: 101, 101, 101;
    --playerScrubberTrack: rgba(0, 0, 0, 0.1);
    --playerBackgroundFallback: rgba(255, 255, 255, 0.97);
    --playerBackground: rgba(255, 255, 255, 0.88);
    --playerGradientTop: rgba(255, 255, 255, 0.25);
    --playerGradientBottom: rgba(255, 255, 255, 0);
    --playerDropShadow2: rgba(0, 0, 0, 0.07);
    --playerInnerShadow: rgba(255, 255, 255, 0.45);
    --playerLCDLogo: rgba(0, 0, 0, 0.4);
    --playerLCDBGFill: white;
    --playerLCDBGFill-rgb: 255, 255, 255;
    --playerLCDBGOuterStroke: rgba(0, 0, 0, 0.2);
    --playerArtworkKeyline: rgba(0, 0, 0, 0.1);
    --playerVolumePlayhead: white;
    --playerVolumePlayhead-rgb: 255, 255, 255;
    --playerVolumeFill: rgba(0, 0, 0, 0.5);
    --playerVolumeTrack: rgba(0, 0, 0, 0.15);
    --playerVolumeIconFill: rgba(0, 0, 0, 0.4);
    --playerLivePlatter: #b2b2b2;
    --playerLivePlatter-rgb: 178, 178, 178;
    --trackBackgroundEven: rgba(0, 0, 0, 0.02);
    --trackHoverColor: rgba(255, 255, 255, 0.97);
    --playerPlatterButtonBGFill: #6c6c6c;
    --playerPlatterButtonBGFill-rgb: 108, 108, 108;
    --playerPlatterButtonIconFill: white;
    --playerPlatterButtonIconFill-rgb: 255, 255, 255;
    --librarySongsTrackInactiveBG: rgba(0, 0, 0, 0.14);
    --searchScopeDeselectedGradientTop: #fefefe;
    --searchScopeDeselectedGradientTop-rgb: 254, 254, 254;
    --searchScopeDeselectedGradientBottom: #fafafa;
    --searchScopeDeselectedGradientBottom-rgb: 250, 250, 250;
    --searchScopeSelectedBGFill: #7f7f7f;
    --searchScopeSelectedBGFill-rgb: 127, 127, 127;
    --searchScopeSelectedTextColor: white;
    --searchScopeSelectedTextColor-rgb:255, 255, 255
}

body {
    background-color:transparent !important
}

.view-loading::before {
    background-color:transparent
}
