@import url(fontawesome-all.min.css);

/* Hide Scrollbar */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Header */

  body {
    padding: 0 0 4em 0; /*0 0 4em 0;*/
  }

  #header {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: rgba(0,0,0,0.5);
    /*background: #1f2224;*/
    /*bottom: -1em;*/
    height: 5em;/*3em !important;*/ /*5em;*/
    left: 0;
    line-height: 4em;/*3em !important;*/ /*4em;*/
    padding: 0 1.0em;
    position: fixed;
    user-select: none;
    width: 100%;
    z-index: 10002;
  }

/*
    body.is-preload #header {
      -moz-transform: translateY(4em);
      -webkit-transform: translateY(4em);
      -ms-transform: translateY(4em);
      transform: translateY(4em);
    }*/

    #header nav {
      position: absolute;
      right: 0;
      top: 0;

    }

    #header h1 {
      color: #a0a0a1;
      display: inline-block;
      font-size: 1em;
      line-height: 1;
      margin: 0;
      vertical-align: middle;
      text-align: left;

      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      bottom: auto;
      height: 3.68em; /*3.68*/ /*4em;*/
      padding: 0 1em; /* 0 1em;*/
      top: 0;
      line-height: 3.7em !important;

    }

    #header h1 a {
        border: 0;
        color: inherit;
      }

        #header h1 a:hover {
          color: inherit !important;
        }

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  background: rgba(0,0,0,0.3);

  display: flex;
  justify-content: center;
}

.navbar {
    width: 100%;
    height: 54px;
    background-color: green;/*rgba(0,0,0,0.5);*/
    backdrop-filter: blur(10px);  
    /*display: block;*/
    overflow: hidden;
    margin: 0px,0px,0px,0px;
    /*box-shadow: 0 0 0 15px #000;*/
}

.blur {
  backdrop-filter: blur(5px);  
}

/* START ROW & CARDS */
.row {
  display: flex;
  display: -webkit-box;
  flex-wrap: wrap;
  text-align: center;

  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding-top: 5em;
}

.cards {
  	/* flex: 50%; */
    /*max-width: 50%;*/
}

.cards img {
  margin-top: 40px;
  vertical-align: middle;
  width: 90%;
  /*
  margin-left: 20px;
  margin-right: 20px;
  */
}

.cards div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.hover card img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover card:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}





