/*<nav class="web-navigation__navigation-container web-navigation__navigation-container--header-sticking" id="web-navigation-container">*/

/* Entire Web Container */
/* Layout: (margin: 260px [Main: Auto 1420px]) */
div.web-navigation {
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    
    display: block;
    position: static;
    box-sizing: border-box;
    z-index: 1; /* auto */
}

/* Left Navigation Container */
/* Layout: [Menu: 260px, 100vh] + [Main: Auto 1420px] */
nav#web-navigation-container, .web-navigation__navigation-container {
    display: none;
    position: fixed;
    box-sizing: border-box;
    
    height: 0vh;
    width: 0px;
    min-width: 0px;
    max-width: 0px;
    z-index: -1; /* 1 */
}

/* Left Navigation View */
/* Layout: (padding: 25px [Menu Content: 209px] padding: 25px) */
div#web-navigation-scrollable, .web-navigation__scrollable {
    display: none;
    position: static;
    box-sizing: border-box;
    z-index: -1; /* auto */
}

