/* Replace logo with Themes logo */
.web-navigation__header {
    margin-top: 30px !important;
    background: url(https://get.ezure.io/logo/ultra-dark.png) !important;
    background-size: 260px 54px !important;
    background-repeat: no-repeat !important;
}
/* Hide Music logo & Beta tag */
.web-navigation__logo-container { opacity: 0 !important; }
.web-navigation__beta-vector { opacity: 0 !important; }

:root {
    --accessibilityIcon: #d9d9d9;
    --accessibilityIcon-rgb: 217, 217, 217;
    --activeText: white;
    --activeText-rgb: 255, 255, 255;
    --activityBGColor: rgba(46, 46, 46, 0.9);
    --altSectionColor: rgba(0, 0, 0, 0.3);
    --baseColor: #f7f7f7;
    --baseColor-rgb: 247, 247, 247;
    --borderRule: 1px solid rgba(255, 255, 255, 0.1);
    --buttonBorder: transparent;
    --buttonCancelButton: #5a5a5a;
    --buttonCancelButton-rgb: 90, 90, 90;
    --buttonDisabledBGColor: rgba(217, 217, 217, 0.35);
    --buttonDisabledTextColor: rgba(255, 255, 255, 0.7);
    --buttonNonDefaultBGColor: rgba(0, 0, 0, 0.48);
    --buttonRolloverNonDefaultBGColor: rgba(0, 0, 0, 0.68);
    --cardBgColor: rgba(46, 46, 46, 0.1);
    --checkboxBGColor: #5a5a5a;
    --checkboxBGColor-rgb: 90, 90, 90;
    --chromeColor: rgba(0, 0, 0, 0.2);
    --dialogScrimColor: rgba(38, 38, 38, 0.8);
    --dropdownBGColor: #373737;
    --dropdownBGColor-rgb: 55, 55, 55;
    --glyphColor: white;
    --glyphColor-rgb: 255, 255, 255;
    --horizontalLockupBGColor: #262626;
    --horizontalLockupBGColor-rgb: 38, 38, 38;
    --inputBackground: rgba(217, 217, 217, 0.1);
    --inputButtonBackground: rgba(217, 217, 217, 0.2);
    --lcdBackground: rgba(0, 0, 0, 0.3);
    --linkButtonColor: rgba(0, 0, 0, 0.3);
    --loadingBackground: transparent;
    --lockupYieldContent: white;
    --lockupYieldContent-rgb: 255, 255, 255;
    --metadata: rgba(0, 0, 0, 0.2);
    --modalFooterBG: #262626;
    --modalFooterBG-rgb: 38, 38, 38;
    --modalFooterMaterialBG: rgba(38, 38, 38, 0.7);
    --nativeBGColor: #1e1e1e;
    --nativeBGColor-rgb: 30, 30, 30;
    --opaqueAltSectionColor: #151618;
    --opaqueAltSectionColor-rgb: 21, 22, 24;
    --opaqueBackgroundColor: #1e2022;
    --opaqueBackgroundColor-rgb: 30, 32, 34;
    --personalizedMixGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    --placeHolderBGColor: #5a5a5a;
    --placeHolderBGColor-rgb: 90, 90, 90;
    --playButtonBackgroundColor: white;
    --playButtonBackgroundColor-rgb: 255, 255, 255;
    --primary: rgba(255, 255, 255, 0.85);
    --productHeaderGradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
    --productMissingArtwork: url(product/MissingArtworkMusic_dark-4ae9c6d21be90151bdac612d21e79301.png);
    --profileUberBGColor: rgba(0, 0, 0, 0.8);
    --profileUberTextColor: rgba(255, 255, 255, 0.8);
    --quaternary: rgba(255, 255, 255, 0.1);
    --regularRuleColor: rgba(255, 255, 255, 0.1);
    --revealGradient: none;
    --secondary: rgba(255, 255, 255, 0.55);
    --selectionColorDk: #0884ff;
    --selectionColorDk-rgb: 8, 132, 255;
    --shelfHeader: #d9d9d9;
    --shelfHeader-rgb: 217, 217, 217;
    --songListSelectedHoverColor: white;
    --songListSelectedHoverColor-rgb: 255, 255, 255;
    --songListHoverColor: rgba(0, 0, 0, 0.37);
    --strongBorderRule: 1px solid rgba(255, 255, 255, 0.1);
    --systemGray: #98989d;
    --systemGray-rgb: 152, 152, 157;
    --systemGrayDeepPressed: #d5d5da;
    --systemGrayDeepPressed-rgb: 213, 213, 218;
    --systemGrayDisabled: rgba(152, 152, 157, 0.5);
    --systemGrayPressed: #c6c6cb;
    --systemGrayPressed-rgb: 198, 198, 203;
    --systemGrayRollover: #d5d5da;
    --systemGrayRollover-rgb: 213, 213, 218;
    --systemGreen: #32d74b;
    --systemGreen-rgb: 50, 215, 75;
    --systemRed: #ff453a;
    --systemRed-rgb: 255, 69, 58;
    --tertiary: rgba(255, 255, 255, 0.25);
    --textColor-rgb: 255, 255, 255;
    --topChartsCounter: white;
    --topChartsCounter-rgb: 255, 255, 255;
    --upsellBGColor: #1a1a1a;
    --upsellBGColor-rgb: 25.75, 25.75, 25.75;
    --upsellCardBGColor: rgba(0, 0, 0, 0.1);
    --primaryColor: #0a84ff;
    --primaryColor-rgb: 10, 132, 255;
    --primaryColorRollover: #47c1ff;
    --primaryColorRollover-rgb: 71, 193, 255;
    --primaryColorPressed: #38b2ff;
    --primaryColorPressed-rgb: 56, 178, 255;
    --primaryColorDeepPressed: #47c1ff;
    --primaryColorDeepPressed-rgb: 71, 193, 255;
    --primaryColorDisabled: rgba(10, 132, 255, 0.5);
    --labelPrimary: rgba(255, 255, 255, 0.95);
    --labelSecondary: rgba(235, 235, 245, 0.6);
    --labelTertiary: rgba(235, 235, 245, 0.3);
    --labelQuaternary: rgba(235, 235, 245, 0.18);
    --labelDivider: rgba(255, 255, 255, 0.1);
    --vibrantPrimary: rgba(255, 255, 255, 0.95);
    --vibrantSecondary: rgba(235, 235, 245, 0.6);
    --vibrantTertiary: rgba(235, 235, 245, 0.3);
    --vibrantQuaternary: rgba(235, 235, 245, 0.18);
    --vibrantDivider: rgba(235, 235, 245, 0.19);
    --pageBG: #1f1f1f;
    --pageBG-rgb: 31, 31, 31;
    --shelfBG: rgba(0, 0, 0, 0.1);
    --genericJoeColor: #323232;
    --genericJoeColor-rgb: 50, 50, 50;
    --modalBGColor: #1f1f1f;
    --modalBGColor-rgb: 31, 31, 31;
    --modalBGHeaderColor: rgba(31, 31, 31, 0.97);
    --modalScrimColor: rgba(0, 0, 0, 0.55);
    --selectionColor: #0a84ff;
    --selectionColor-rgb: 10, 132, 255;
    --selectionColorRollover: #47c1ff;
    --selectionColorRollover-rgb: 71, 193, 255;
    --selectionColorPressed: #38b2ff;
    --selectionColorPressed-rgb: 56, 178, 255;
    --selectionColorDeepPressed: #47c1ff;
    --selectionColorDeepPressed-rgb: 71, 193, 255;
    --selectionColorDisabled: rgba(10, 132, 255, 0.5);
    --textColor: rgba(255, 255, 255, 0.95);
    --topResultsBGColor: rgba(235, 235, 245, 0.18);
    --lockupHoverBGColor: rgba(51, 51, 51, 0.3);
    --opaquePageBGColor: #2d2d2d;
    --opaquePageBGColor-rgb: 45, 45, 45;
    --replayCardBG: #1a1a1a;
    --replayCardBG-rgb: 25.5, 25.5, 25.5;
    --replayComponentBG: #2e2e2e;
    --replayComponentBG-rgb: 46, 46, 46;
    --explicitBadgeColor: #aeaeb2;
    --explicitBadgeColor-rgb: 174, 174, 178;
    --systemGrayIncreaseContrast: #aeaeb2;
    --systemGrayIncreaseContrast-rgb: 174, 174, 178;
    --barButtonDeselectedGradientTop: #595a5c;
    --barButtonDeselectedGradientTop-rgb: 89, 90, 92;
    --barButtonDeselectedGradientBottom: #565759;
    --barButtonDeselectedGradientBottom-rgb: 86, 87, 89;
    --barButtonSelectedBGFill: #aeaeb2;
    --barButtonSelectedBGFill-rgb: 174, 174, 178;
    --barButtonSelectedTextColor: #4c4c4c;
    --barButtonSelectedTextColor-rgb: 76, 76, 76;
    --contextMenuBackgroundColor: rgba(235, 235, 245, 0.18);
    --contextMenuBackgroundFallback: rgba(60, 60, 67, 0.97);
    --contextMenuBorderColor: rgba(255, 255, 255, 0.1);
    --contextMenuTextColor: rgba(255, 255, 255, 0.95);
    --contextMenuHoverBackgroundColor: rgba(60, 60, 67, 0.18);
    --contextMenuHoverBackgroundFallback: rgba(60, 60, 67, 0.3);
    --footerBG: #323232;
    --footerBG-rgb: 50, 50, 50;
    --searchBorder: rgba(255, 255, 255, 0.15);
    --searchIconDropShadow: rgba(0, 0, 0, 0.25);
    --searchHintsBG: rgba(44, 46, 48, 0.9);
    --searchHintsBGHover: rgba(45, 47, 50, 0.9);
    --sidebar: rgba(235, 235, 245, 0.03);
    --sidebarBorderRule: rgba(255, 255, 255, 0.1);
    --sidebarSelectedState: rgba(235, 235, 245, 0.1);
    --sidebarNativeUpsellBackgroundFallback: rgba(60, 60, 67, 0.95);
    --webNavigationMobileBg: #2e2e2e;
    --webNavigationMobileBg-rgb: 46, 46, 46;
    --playerScrubberPlayhead: #d9d9d9;
    --playerScrubberPlayhead-rgb: 217, 217, 217;
    --playerScrubberFill: #d9d9d9;
    --playerScrubberFill-rgb: 217, 217, 217;
    --playerScrubberTrack: rgba(255, 255, 255, 0.1);
    --playerBackgroundFallback: rgba(45, 45, 45, 0.97);
    --playerBackground: rgba(45, 45, 45, 0.88);
    --playerGradientTop: transparent;
    --playerGradientBottom: transparent;
    --playerDropShadow2: rgba(0, 0, 0, 0.1);
    --playerInnerShadow: rgba(255, 255, 255, 0.1);
    --playerLCDLogo: rgba(255, 255, 255, 0.4);
    --playerLCDBGFill: #4d4d4d;
    --playerLCDBGFill-rgb: 77, 77, 77;
    --playerLCDBGOuterStroke: rgba(0, 0, 0, 0.2);
    --playerArtworkKeyline: rgba(255, 255, 255, 0.1);
    --playerVolumePlayhead: #cacaca;
    --playerVolumePlayhead-rgb: 202, 202, 202;
    --playerVolumeFill: rgba(255, 255, 255, 0.6);
    --playerVolumeTrack: rgba(255, 255, 255, 0.15);
    --playerVolumeIconFill: rgba(255, 255, 255, 0.4);
    --playerLivePlatter: rgba(255, 255, 255, 0.2);
    --trackBackgroundEven: rgba(255, 255, 255, 0.05);
    --trackHoverColor: rgba(0, 0, 0, 0.37);
    --playerPlatterButtonBGFill: white;
    --playerPlatterButtonBGFill-rgb: 255, 255, 255;
    --playerPlatterButtonIconFill: rgba(0, 0, 0, 0.7);
    --librarySongsTrackInactiveBG: rgba(255, 255, 240, 0.12);
    --searchScopeDeselectedGradientTop: #595a5c;
    --searchScopeDeselectedGradientTop-rgb: 89, 90, 92;
    --searchScopeDeselectedGradientBottom: #565759;
    --searchScopeDeselectedGradientBottom-rgb: 86, 87, 89;
    --searchScopeSelectedBGFill: #aeaeb2;
    --searchScopeSelectedBGFill-rgb: 174, 174, 178;
    --searchScopeSelectedTextColor: #4c4c4c;
    --searchScopeSelectedTextColor-rgb:76, 76, 76
}

body {
    background-color:transparent !important
}

.view-loading::before {
    background-color:transparent
}
