/* Custom Light Mode Styles */

/* Replace logo with Themes logo */
.web-navigation__header {
    margin-top: 30px !important;
    background: url(https://get.ezure.io/logo/ultra.png) !important;
    background-size: 260px 54px !important;
    background-repeat: no-repeat !important;
}
/* Hide Music logo & Beta tag */
.web-navigation__logo-container { opacity: 0 !important; }
.web-navigation__beta-vector { opacity: 0 !important; }
