/* START CORE STYLES */
/* Hide Open in Apple Music button */
.web-navigation__native-upsell { display: none; }
/* Hide Footer */
.dt-footer { display: none; }
/* Hide Signed-Out Bottom Banner */
/*.upsell-banner { display: none; }*/
.web-navigation__native-upsell { display: none !important; }
/* Move down Apple Music logo - {display: none;} to hide */
/*.web-navigation__logo-container { padding-top: 20px }*/
/* Hide Scrollbar for native feel */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Transparent scrollbar placeholder */
}
/* END CORE STYLES */


/* Global UI Style (start with transparent BG) */
body.dark-mode {
    background-color: rgba(0,0,0,0) !important;
}
/* Side Menu Style */
#web-navigation-container {
    background-color: rgba(0,0,0,0.1) !important;
}

/* Search Box */
.dt-search-box__input {
    background-color: rgba(0,0,0,0.1) !important;
}

/* Apple Music Features (Cards) */
.replay-upsell__card {
    background-color: rgba(0,0,0,0.3) !important;
}

/* CUSTOM CONTEXT MENU */
/* Fix transparent blur with backdrop-filter */
.context-menu {
    background-color: var(--contextmenubackgroundcolor) !important; /* var(--contextMenuBackgroundColor) */
    /*background-color: rgba(0,0,0,0.6) !important;*/ /* rgba(235, 235, 245, 0.18) */
    -webkit-backdrop-filter: saturate(75%) blur(15px) !important;
    backdrop-filter: saturate(75%) blur(15px) !important;
    -webkit-animation: menuBlurEffect .28s 20ms linear forwards 1 !important;
    animation: menuBlurEffect .28s 20ms linear forwards 1 !important;
    /*background-color: rgba(0,0,0,0.75) !important;*/
}
/* Show Share menu always */
.context-menu__option .context-menu__option--parent {
    display: flex !important;
    /*background-color: rgba(0,0,0,0.75) !important;*/
}


/* Hide Music Logo */
.web-navigation__header {
    /* background: url(https://www.stickpng.com/assets/images/59b5bb466dbe923c39853e00.png) !important; */
    background: url(https://get.ezure.io/logo-dark.png) !important;
    background-repeat: no-repeat !important;
    /*background-size: cover;*/
    background-size: 260px 54px !important;
    /*padding-top: 20px !important;*/
    margin-top: 30px !important;
}

.web-navigation__logo-container {
    opacity: 0 !important;
    /*padding-top: 20px !important;*/
}

.web-navigation__beta-vector { opacity: 0 !important; }

/* Change default artwork for light/dark mode */
.media-artwork-v2__image media-artwork-v2__image--fallback > img {
    display: none;
}
.media-artwork-v2__image media-artwork-v2__image--fallback::before {
    content: url(https://beta.music.apple.com/assets/product/MissingArtworkMusic_dark.svg);
}



/*#search-box { padding-top: 20px !important; }*/
/* Move down Apple Music logo - {display: none;} to hide */
/*.web-navigation__logo-container { padding-top: 20px; } */

/* Hide BETA tag on logo */
/*
.web-navigation__beta-vector {
    display: none !important;
}
 */

/* Force Light Mode */


/*
.context-menu__option {
    background-color: rgba(0,0,0,0.3) !important;
}
 */

/* END BLUR EFFECTS */

/*
.web-chrome {
    background-color: rgba(0,0,0,0) !important;
}

.web-chrome__grid-container {
    background-color: rgba(0,0,0,0) !important;
}
*/








/*
 :root
 --nativeBGColor:
 #1e1e1e;
 --nativeBGColor-rgb: 30,30,30;
 --opaqueAltSectionColor:
 #151618;
 --opaqueAltSectionColor-rgb: 21,22,24;
 --opaqueBackgroundColor:
 #1e2022;
 --opaqueBackgroundColor-rgb: 30,32,34;
 --personalizedMixGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
 */
