/* START CORE STYLES */

/* <<< SCROLLBAR >>> */
/* Hide Scrollbar */
/*
::-webkit-scrollbar { width: 0px; background: transparent; }
*/



/* <<< TRANSPARENT BACKGROUND >>> */

/* Set Global UI Style (start with transparent BG) */
body { background-color: rgba(0,0,0,0) !important; }
/* Side Menu Style */
#web-navigation-container { background-color: rgba(0,0,0,0.1) !important; }
/* Transparent Search Bar background */
.dt-search-box__input { background-color: rgba(0,0,0,0.1) !important; }



/* <<< LEFT SIDE MENU >>> */

/* Replace logo with Ultra logo */
.web-navigation__header {
    margin-top: 20px !important;
    background: url(https://get.ezure.io/logo/ultra-dark.png);
    background-size: 260px 54px !important;
    background-repeat: no-repeat !important;
    padding-bottom: 60px !important;
}
/* Hide BETA tag */
.web-navigation__beta-vector { opacity: 0 !important; }
/* Hide Apple logo & add padding */
.web-navigation__logo-container { opacity: 0 !important; padding-bottom: 30px !important; }
/* Hide Open in Apple Music buttons */
.web-navigation__native-upsell { display: none; }
/* Add Top Margin Between Logo and Scrollable (starts at Search Box) */
.web-navigation__scrollable { margin-top: 20px !important; }



/* <<< FOOTER >>> */

/* Hide Footer */
.dt-footer { display: none; }
/* Hide Signed-Out Bottom Banner */
div.upsell-banner { display: none !important; }
.web-navigation__native-upsell { display: none !important; }
/* Hide Locale Switcher */
.locale-switcher--amweb, .locale-switcher-banner { display: none !important }



